.container {
  margin-top: 50px;
}
.card {
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}
h1 {
  color: #343a40;
}
h4 {
  color: #343a40;
}
.card-text {
  color: #6c757d;
}
.card-subtitle {
  color: #6c757d;
}
p.mt-4 {
  color: #6c757d;
}
.add {
  background-color: skyblue;
  padding: 15px 30px;
  color: white;
  border-radius: 50px;
  border: 2px solid black;
}
.delete-button {
  padding: 10px 20px;
  background-color: red;
}
